@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(9,17,26);
}
div.back{
    position: fixed;
    left:20px;
    top:25px;
}
div.back a{
    text-decoration: none;
    color:#fff;
}
div.back a ion-icon{
    font-size: 4em;
}
td{
    width: 14px;
    height: 14px;
}
#container{
    display: flex;
}
.score_container{
    display: flex;
    flex-direction: column;
    background-color: rgb(14,31,49);
    width: 120px;
}
.subtitle{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(21,46,74);
    padding: 10px;
    margin: 0px;
}
#level, #score, #help{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
    position: relative;
}
#nextTile_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nextTile{
    width: 64px;
    height: 64px;
    position: relative;
}
#nextTile td{
    background-color: rgb(9,17,26);
}
#help{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 0;
}
.arrow{
    height: 64px;
}
#combo{
    position: absolute;
    width: 384px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
#pause, #gameover{
    position: relative;
    display: none;
    color: white;
}