*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#10131c;
}
.index{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
}
.index a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #111;
    font-size: 4em;
    transition: 0.5s;
}
.index a:hover{
    color: #ff1252;
}
.navigation{
    position: relative;
    width:140px;
    height:140px;
    background-color: #212532;
    border-radius: 20px;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
    transition-delay: 0.8s;
}
.navigation.active{
    width:400px;
    height:400px;
    transition-delay: 0s;
}
.navigation a{
    position: absolute;
    width:14px;
    height:14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(24px * var(--x)), calc(24px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}
.navigation.active a{
    transform: translate(calc(120px * var(--x)), calc(120px * var(--y)));
    width:90px;
    height:90px;
    background:#333849;
}
.navigation a ion-icon{
    transition:0.5s;
    font-size: 0em;
}
.navigation.active a ion-icon{
    font-size:2.7em;
    color:#fff;
}
.navigation.active a:hover ion-icon{
    color:#2dfc52;
    filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52) drop-shadow(0 0 15px #2dfc52);

}
.navigation span{
    position: absolute;
    width:14px;
    height:14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(24px * var(--x)), calc(24px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}
.navigation.active span{
    transform: translate(calc(120px * var(--x)), calc(120px * var(--y)));
    width:90px;
    height:90px;
    background:#333849;
}
.navigation span ion-icon{
    transition:0.5s;
    font-size: 0em;
}
.navigation.active span ion-icon{
    font-size:2.7em;
    color:#fff;
}
.navigation.active span:hover ion-icon{
    color:#2dfc52;
    filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52) drop-shadow(0 0 15px #2dfc52);
}
.apps{
    --ionicon-stroke-width: 25px;
}
