@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0px;
}
.canvas{
    width:700px;
    height:700px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.68);
}
.control{
    display: flex;
    position: relative;
    margin-top:20px;
    flex-direction: column;
    align-items: center;
}
.control .range{
    margin-bottom: 15px;
}
.control #rangeValue{
    position: absolute;
    top: 2px;
    right: 60px;
    padding: 2px;
    width: 50px;
    background-color: #33a3ee;
    color: #fff;
    text-align: center;
}
.control #rangeValue::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    left: -5px;
    background-color: #33a3ee;
    color: #fff;
}
.control #Range{
    box-sizing: content-box;
    width: 200px;
    height: 2px;
    margin-bottom: 15px;
    background-color: #333;
    -webkit-appearance: none;
    outline: none;
    border-radius: 2px;
}
.control #Range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #33a3ee;
}
.control .btns{
    margin-bottom: 15px;
}
.control .btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 10px 0px;
    width: 120px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.068);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    transition: 0.5s background-color color;
}
.control .btns button:hover{
    color: #f68500;
    background-color: #2b2b37;
}
.control .btns button:active{
    transform: scale(0.95);
}
.control .colors{
    display: flex;
}
.control .colors span{
    display: block;
    width:50px;
    margin-left: 3px;
    height:50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.68);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.control .colors span:first-child{
    margin-left: 0;
}
.control .colors span:active{
    transform: scale(0.9);
}